Battery_Sensor/LowBatteryNotification.NodeRed
[{"id":"9182f0e7.6b642","type":"tab","label":"Battery Notifications","disabled":false,"info":""},{"id":"cc999381.62ba6","type":"server-state-changed","z":"9182f0e7.6b642","name":"Low Battery Entities","server":"e4ec20e4.dd969","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.low_battery_entities","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":260,"wires":[["92fa81c6.40a0a"],["6376aa21.653794"]]},{"id":"92fa81c6.40a0a","type":"function","z":"9182f0e7.6b642","name":"Set Entities Healthy Message","func":"\nmsg.payload = \n{\n  \"data\" : {\n      \"title\" : \"All Entity Batteries Healthy\",\n      \"message\" : \"All Entities Batteries Healthy\"\n   }\n}    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":220,"wires":[["d8f76ea6.e3af4"]]},{"id":"6376aa21.653794","type":"function","z":"9182f0e7.6b642","name":"Set Entity Error Message","func":"if (msg.payload === \"\" || msg.payload === null) { msg.payload = \"Nothing to Say about this\"; }\nmsg.payload = \n{\n  \"data\" : {\n      \"title\" : msg.payload + \" Entities with Battery Issues\",\n      \"message\" : msg.data.new_state.attributes.entities\n   }\n}    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":340,"wires":[["e8dfd232.be224"]]},{"id":"e8dfd232.be224","type":"api-call-service","z":"9182f0e7.6b642","name":"Notify Phone","server":"e4ec20e4.dd969","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":280,"wires":[[]]},{"id":"d8f76ea6.e3af4","type":"api-current-state","z":"9182f0e7.6b642","name":"Don't Run if we just started up","server":"e4ec20e4.dd969","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.hass_started","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":750,"y":220,"wires":[[],["e8dfd232.be224"]]},{"id":"e4ec20e4.dd969","type":"server","z":"","name":"HassOS","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true}]