Battery_Sensor/LowBatteryNotification.NodeRed
[{"id":"9182f0e7.6b642","type":"tab","label":"Battery","disabled":false,"info":""},{"id":"cc999381.62ba6","type":"server-state-changed","z":"9182f0e7.6b642","name":"Low Battery Warning","server":"e4ec20e4.dd969","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.low_battery_warning","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Critical","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":180,"wires":[["3fec40a0.a1f5d"],["743ff7de.b5fc28"]]},{"id":"1f32987d.81f6d8","type":"function","z":"9182f0e7.6b642","name":"Message","func":"msg.payload = \n{\n  \"data\" : {\n      \"title\" : \"Batteries Low\",\n      \"message\" : msg.payload[0].state\n   }\n}    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":140,"wires":[["3769510d.db475e"]]},{"id":"3fec40a0.a1f5d","type":"ha-get-entities","z":"9182f0e7.6b642","server":"e4ec20e4.dd969","name":"Low Battery Entities","rules":[{"property":"entity_id","logic":"is","value":"sensor.low_battery_entities","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":420,"y":140,"wires":[["1f32987d.81f6d8"]]},{"id":"3769510d.db475e","type":"api-call-service","z":"9182f0e7.6b642","name":"Notify","server":"e4ec20e4.dd969","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":890,"y":160,"wires":[[]]},{"id":"743ff7de.b5fc28","type":"function","z":"9182f0e7.6b642","name":"Message","func":"msg.payload = \n{\n  \"data\" : {\n      \"title\" : \"Batteries Normal\",\n      \"message\" : \"All Batteries have returned to Normal Status\"\n   }\n}    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":200,"wires":[["3769510d.db475e"]]},{"id":"e4ec20e4.dd969","type":"server","z":"","name":"HassOS","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true}]