Entity_Monitor/EntitiesWithIssueNotification.NodeRed
[{"id":"8844b5db.208038","type":"tab","label":"Entity Health Alert","disabled":false,"info":""},{"id":"ccb61350.95592","type":"server-state-changed","z":"8844b5db.208038","name":"sensor.entities_with_issues","server":"e4ec20e4.dd969","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.entities_with_issues","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":140,"wires":[["d79abc88.885d6"],["b7bc8b72.f8e0b8"]]},{"id":"d79abc88.885d6","type":"function","z":"8844b5db.208038","name":"Set Entities Healthy Message","func":"\nmsg.payload = \n{\n  \"data\" : {\n      \"title\" : \"All Entities Reporting Healthy\",\n      \"message\" : \"All Entities Reporting Healthy\"\n   }\n}    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":60,"wires":[["f599d809.a38028"]]},{"id":"b7bc8b72.f8e0b8","type":"function","z":"8844b5db.208038","name":"Set Entity Error Message","func":"//Build List of Entities\n//entityArray = JSON.parse(msg.data.new_state.attributes.entities);\nentityArray=msg.data.new_state.attributes.entities;\nmessage = \"\";\nfor (index = 0; index < entityArray.length; index++){\n    if (message !== \"\")\n    {\n        message = message + \",\";\n    }\n    message = message + entityArray[index][1].friendly_name\n}\n\nif (msg.payload === \"\" || msg.payload === null) { msg.payload = \"Nothing to Say about this\"; }\nmsg.payload = \n{\n  \"data\" : {\n      \"title\" : msg.payload + \" Nodes with Issues\",\n      \"message\" : message\n   }\n}    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":180,"wires":[["cb719563.354db8"]]},{"id":"775cc9bf.c6a598","type":"api-call-service","z":"8844b5db.208038","name":"Notify Phone","server":"e4ec20e4.dd969","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":120,"wires":[[]]},{"id":"f599d809.a38028","type":"api-current-state","z":"8844b5db.208038","name":"Don't Run if we just started up","server":"e4ec20e4.dd969","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.hass_started","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":750,"y":60,"wires":[[],["775cc9bf.c6a598"]]},{"id":"cb719563.354db8","type":"api-current-state","z":"8844b5db.208038","name":"Don't Run if we just started up","server":"e4ec20e4.dd969","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.hass_started","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":750,"y":180,"wires":[[],["775cc9bf.c6a598"]]},{"id":"e4ec20e4.dd969","type":"server","name":"HassOS","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true}]